body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0e7ff, #f8fafc);
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background: #2563eb;
    color: white;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    width: 320px;
    text-align: center;

    /* animação */
    opacity: 0;
    transform: translateY(30px);
    animation: aparecer 0.8s ease forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #3b82f6;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2563eb;
    transform: scale(1.03);
}

#resultado {
    margin-top: 15px;
    background: #f1f5f9;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2563eb;
    color: white;
    transition: 0.3s;
}

.footer-erro {
    background: red;
    color: white;
    font-weight: bold;
}